<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}{% endblock %} - Learning Checklist&#8482;</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}
    ">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}
    ">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.json') }}
    ">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicons/mstile-150x150.png') }}
    ">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ url_for('static', filename='vendors/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='vendors/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/simplebar/simplebar.min.css') }}
    " rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="{{ url_for('static', filename='css/theme-rtl.min.css') }}
    " type="text/css" rel="stylesheet" id="style-rtl">
    <link href="{{ url_for('static', filename='css/theme.min.css') }}
    " type="text/css" rel="stylesheet" id="style-default">
    <link href="{{ url_for('static', filename='css/user-rtl.min.css') }}
    " type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="{{ url_for('static', filename='css/user.min.css') }}" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = JSON.parse(localStorage.getItem('phoenixIsRTL'));
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>

  </head>

  <body>
<!-- THIS COULD BE PUT AS A POP MESSAGE INSTEAD -->
{% for message in get_flashed_messages() %}

  <div class="alert alert-soft-warning alert-dismissible fade show" role="alert">
    <span class="fas fa-info-circle text-warning fs-3 me-3"></span>{{ message }}
  
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  
  {% endfor %}

 


  {% block content %}{% endblock %}
      <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
<!-- chart.js script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    

    <!-- bootstrap scripts -->
    <script src="{{ url_for('static', filename='vendors/popper/popper.min.js') }}
    "></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js') }}
    "></script>
    <script src="{{ url_for('static', filename='vendors/anchorjs/anchor.min.js') }}
    "></script>
    <script src="{{ url_for('static', filename='vendors/is/is.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/lodash/lodash.min.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{ url_for('static', filename='vendors/list.js/list.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/dayjs/dayjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/phoenix.js') }}"></script>


  </body>

</html>