{% extends 'base.html' %}

{% block title %}Sign In {% endblock %}
{% block content %}


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container-fluid px-0">
        <div class="container">
          <div class="row flex-center min-vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="index.html">
                <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="../../static/img/icons/growth.png" alt="phoenix" width="58" />
                </div>
              </a>
              <!-- FORM START -->
              <form method="post">
              <div class="text-center mb-7">
                <h3 class="text-1000">Sign In</h3>
                <p class="text-700">Get access to your account</p>
              </div>
              <div class="mb-3 text-start">
                <label class="form-label" for="emailAddress">Email address</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" name="emailAddress" id="emailAddress" type="email" placeholder="name@example.com" ><span class="fas fa-user text-900 fs--1 form-icon"></span>
                </div>
              </div>

              <div class="mb-3 text-start">
                <label class="form-label" for="password">Password</label>
                <div class="form-icon-container">
                  <input class="form-control form-icon-input" name="password" id="password" type="password" placeholder="Password" ><span class="fas fa-key text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="row flex-between-center mb-7">
                <div class="col-auto">
                  <div class="form-check mb-0">
                    <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                    <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                  </div>
                </div>
                <div class="col-auto"><a class="fs--1 fw-semi-bold" href="forgot-password.html">Forgot Password?</a></div>
              </div>
              <button class="btn btn-primary w-100 mb-3" type="submit">Sign In</button>
            </form>
          <!-- FORM END -->

              <div class="text-center"><a class="fs--1 fw-bold" href="{{ url_for('auth.register') }}">Create an account</a></div>
              <div class="text-center"><a class="fs--1 fw-bold" ><a href="https://www.flaticon.com/free-icons/growth" title="growth icons">Growth icons created by Freepik - Flaticon</a></div>

            </div>
          </div>
        </div>
      </div>

      <script>
        var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
    </main>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}